doctype html
head
  base(href=baseUrl)
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport')
  meta(content='' name='description')
  meta(content='Mark Otto, Jacob Thornton, and Bootstrap contributors' name='author')
  meta(content='Jekyll v3.8.5' name='generator')
  title Gulp Demo | 
    block subtitle
  link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-solarizedlight.min.css" rel="stylesheet")
  // link(href='https://getbootstrap.com/docs/4.3/examples/offcanvas/' rel='canonical')
  // Bootstrap core CSS
  // link(crossorigin='anonymous' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' rel='stylesheet')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='css/main.css' rel='stylesheet')
  block css
  block script
body
  nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    a.navbar-brand.mr-auto.mr-lg-3(href='#') Gulp Demo
    button.navbar-toggler.p-0.border-0(type='button' data-toggle='offcanvas')
      span.navbar-toggler-icon
    #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Dashboard
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='examples/notifications.html') Notifications
        li.nav-item
          a.nav-link(href='#') Profile
        li.nav-item.dropdown
          a#dropdown01.nav-link.dropdown-toggle(aria-expanded='false' aria-haspopup='true' data-toggle='dropdown' href='#') Settings
          .dropdown-menu(aria-labelledby='dropdown01')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(aria-label='Search' placeholder='Search' type='text')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  .nav-scroller.bg-white.shadow-sm
    nav.nav.nav-underline
      a.nav-link.active(href='#') Example Pages: 
      a.nav-link(href='examples/bottom-navbar.html') Bottom Navbar
      a.nav-link(href='examples/grid-examples.html') Grid Examples
      a.nav-link(href='examples/images.html') Images
      a.nav-link(href='#')
        | Friends
        span.badge.badge-pill.bg-light.text-white.align-text-bottom 27
      a.nav-link(href='#') Link
      a.nav-link(href='#') Link
      a.nav-link(href='#') Link
  main.container(role='main')

    // MAIN PAGE CONTENT
    block content

  script(crossorigin='anonymous' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  //- script(crossorigin='anonymous' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  //- script(crossorigin='anonymous' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-core.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/autoloader/prism-autoloader.min.js")
  script.
    Prism.plugins.autoloader.languages_path = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/'
  block script
  
  script( src='js/main.js')
  script.
    $(function() {
    "use strict";
    $('[data-toggle="offcanvas"]').on("click", function() {
    $(".offcanvas-collapse").toggleClass("open");
    });
    });
