# MacOS Junk
.DS_Store
.tmp

# Editor config
*.sublime-project
*.sublime-workspace

# caches
.sass-cache

# modules
node_modules
bower_components

# bower main components
src/vendor

# all builds
builds

# Gulp gh-pages 
.publish

# Env
.env.development
.env.production