extends ./includes/layouts/default_layout.jade

block subtitle
	| | Home

block css

block script

block content
	.jumbotron
		h1 Home Page!
		p
			| This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
	.row
		.col-6.col-sm-6.col-lg-4
			h2 Heading
			p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href="#", role="button") View details &raquo;
		// /span
		.col-6.col-sm-6.col-lg-4
			h2 Heading
			p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href="#", role="button") View details &raquo;
		// /span
		.col-6.col-sm-6.col-lg-4
			h2 Heading
			p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href="#", role="button") View details &raquo;
		// /span
		.col-6.col-sm-6.col-lg-4
			h2 Heading
			p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href="#", role="button") View details &raquo;
		// /span
		.col-6.col-sm-6.col-lg-4
			h2 Heading
			p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href="#", role="button") View details &raquo;
		// /span
		.col-6.col-sm-6.col-lg-4
			h2 Heading
			p
				| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn.btn-default(href="#", role="button") View details &raquo;
		// /span
	// /row

	block sidebar-menu
		include includes/menus/sidebar-menu
