extends ../../includes/layouts/layout.pug

block subtitle
	| | Home

block css

block script

block content
	.jumbotron
		h1 Card Deck!
		p
			| This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
	.card-deck-wrapper
		.card-deck
			.card
				img.card-img-top(src='images/png/octopus.png', alt='Card image cap')
				|       
				.card-block
					h4.card-title Card title
					|         
					p.card-text
						| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					|         
					p.card-text
						small.text-muted Last updated 3 mins ago
			|     
			.card
				img.card-img-top(src='images/png/octopus.png', alt='Card image cap')
				|       
				.card-block
					h4.card-title Card title
					|         
					p.card-text This card has supporting text below as a natural lead-in to additional content.
					|         
					p.card-text
						small.text-muted Last updated 3 mins ago
			|     
			.card
				img.card-img-top(src='images/png/octopus.png', alt='Card image cap')
				|       
				.card-block
					h4.card-title Card title
					|         
					p.card-text
						| This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
					|         
					p.card-text
						small.text-muted Last updated 3 mins ago

block sidebar-menu
	include ../../includes/menus/cards-menu

