a(class='list-group-item', href='sections/bootstrap/card_deck.html') Card Deck
a(class='list-group-item', href='sections/bootstrap/example2.html') Example 2
a(class='list-group-item', href='sections/bootstrap/example3.html') Example 3
a(class='list-group-item', href='sections/bootstrap/example4.html') Example 4
a(class='list-group-item', href='sections/bootstrap/example5.html') Example 5
a(class='list-group-item', href='sections/bootstrap/example6.html') Example 6
a(class='list-group-item', href='sections/bootstrap/example7.html') Example 7
a(class='list-group-item', href='sections/bootstrap/example8.html') Example 8