a.navbar-brand(href="index.html")
	include ../logo.svg.jade 
	| Code Notes
ul.nav.navbar-nav
	li.nav-item.active
		a(href="index.html").nav-link Home
	li.nav-item
		a(href="sections/bootstrap/bootstrap4.html").nav-link Bootstrap 4
	li.nav-item
		a(href="sections/about/about-us.html").nav-link About Us
	li.nav-item
		a(href="sections/contact/contact-us.html").nav-link Contact Us
		