a(class='list-group-item', href='index.html') Home
a(class='list-group-item', href='sections/bootstrap/bootstrap4.html') Bootstrap 4
a(class='list-group-item', href='sections/about/about-us.html') About Us
a(class='list-group-item', href='sections/contact/contact-us.html') Contact Us