extends ./../../includes/layouts/default_layout.jade

block subtitle
	| | About Us

block css
		include ../../includes/css/about_css.jade
	
block script		
	
block content
	h1 About Us

block sidebar-menu
	include ../../includes/menus/about-menu