a(class='list-group-item', href='bootstrap/card-deck.html') Card Deck
a(class='list-group-item', href='bootstrap/example2.html') Example 2
a(class='list-group-item', href='bootstrap/example3.html') Example 3
a(class='list-group-item', href='bootstrap/example4.html') Example 4
a(class='list-group-item', href='bootstrap/example5.html') Example 5
a(class='list-group-item', href='bootstrap/example6.html') Example 6
a(class='list-group-item', href='bootstrap/example7.html') Example 7
a(class='list-group-item', href='bootstrap/example8.html') Example 8