a(class='list-group-item', href='about/contact.html') Contact Us
a(class='list-group-item', href='sections/contact/contact2.html') Contact 2
a(class='list-group-item', href='sections/contact/contact3.html') Contact 3
a(class='list-group-item', href='sections/contact/contact4.html') Contact 4
a(class='list-group-item', href='sections/contact/contact5.html') Contact 5
a(class='list-group-item', href='sections/contact/contact6.html') Contact 6
