nav.mainnav.navbar.navbar-expand-sm.navbar-dark.bg-dark
	a.navbar-brand(href="index.html")
		include ../logo.svg.pug 
		| Code Notes
	button(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
		span.navbar-toggler-icon
	
	div.collapse.navbar-collapse#navbarSupportedContent
		ul.navbar-nav.mr-auto
			li.nav-item.active
				a(href="index.html").nav-link Home
					span.sr-only (current)
			li.nav-item
				a(href="bootstrap/bootstrap.html").nav-link Bootstrap
			li.nav-item
				a(href="about/about.html").nav-link About Us
			li.nav-item
				a(href="about/contact.html").nav-link Contact Us
				