a(class='list-group-item', href='index.html') Home
a(class='list-group-item', href='bootstrap/bootstrap.html') Bootstrap 4
a(class='list-group-item', href='about/about.html') About Us
a(class='list-group-item', href='about/contact.html') Contact Us