a(class='site_name', href='..')
	div.container.branding
		div.row
			div.col-sm-4.col-lg-2
				include logo.svg.jade
			div.col-sm-8.col-lg-10
				div.site-name-slogan
					h1.sitename Solid Octo Garbanzo
					p.lead.siteslogan Does it get any cooler? <span class='glyphicon glyphicon-sunglasses' aria-hidden=true></span>