@import "custom";
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "offcanvas-layout";
@import "dashboard";

body {
  padding-top: 3.5rem;
}
main {
  // margin-top: 3.5rem;
}

code,
pre {
  font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
  hyphens: none;
}

pre {
  max-height: 30em;
  overflow: auto;
}

pre > code.highlight {
  outline: 0.4em solid red;
  outline-offset: 0.4em;
}

.jumbotron {
  background-image: resolve("jpg/fold.jpg");
  // width: calc(width("png/penrose-tile.png") / 2);
  // height: calc(height("png/penrose-tile.png") / 2);
  // background-size: size("png/penrose-tile.png");
  background-size: cover;
  background-position: center center;
}

.myimage {
  background-image: resolve("png/penrose-tile.png");
  width: calc(width("png/penrose-tile.png") / 2);
  height: calc(height("png/penrose-tile.png") / 2);
  // background-size: size("png/penrose-tile.png");
  background-size: calc(width("png/penrose-tile.png") / 2),
    calc(height("png/penrose-tile.png") / 2);
}

.mysvg {
  background-image: inline("svg/octopus.svg");
  width: width("svg/octopus.svg");
  height: height("svg/octopus.svg");
  background-size: 50px 50px;
  /* url('data:image/svg+xml;charset=utf-8,... */
}
