$enable-flex: true;
// $body-bg: #D5DAEF;
$headings-color: #3F52B6;

$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-base:        $font-family-serif;
$headings-font-family: $font-family-sans-serif;